extends ../layouts/default

block vars
  -
    const page = {
      title: 'Кислородный баллон TANK BACK PACK'
    };

    const bc = [
      {text: 'Магазин', url: URLS.catalog},
      {text: page.title}
    ];

    const table = [
      {th: 'Объем (мл)', td: '2000'},
      {th: 'Состав смеси', td: '80% кислорода, 20% азота'},
      {th: 'Маска в комплекте', td: 'есть'},
      {th: 'Тип маски', td: 'мягкая'},
      {th: 'Высота баллона (см)', td: '28.5'},
      {th: 'Ширина баллона (см)', td: '15'},
      {th: 'Диаметр баллона (см)', td: '6.6'},
      {th: 'Вес (г)', td: '185'},
      {th: 'Срок годности (мес)', td: '58'}
    ];

    const reviews = [
      {img: '', name: 'Аноним', title: 'Рекомендую!', text: 'Таким образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки систем массового участия. Товарищи! укрепление и развитие структуры представляет собой интересный эксперимент проверки соответствующий условий активизации. Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации новых предложений. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.' },
      {img: 'avatar', name: 'Алекс Хазайбырген', title: 'Не рекомендую!', text: 'Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки форм развития. Таким образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.' },
      {img: '', name: 'Аноним', title: 'Рекомендую!', text: 'Таким образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки систем массового участия. Товарищи! укрепление и развитие структуры представляет собой интересный эксперимент проверки соответствующий условий активизации. Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации новых предложений. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.' },
      {img: 'avatar', name: 'Алекс Хазайбырген', title: 'Не рекомендую!', text: 'Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки форм развития. Таким образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.' }
    ];

    const similar = [
      {
        img: {n: '5', w: '140', h: '186'},
        title: 'SDI OWD',
        text: 'Open Water Diver. Учебное пособие по дайвингу',
        cl: 'products-carousel__item'
      },
      {
        img: {n: '6', w: '171', h: '195'},
        title: 'SDI ночной дайвинг',
        text: 'Ночной дайвинг. Подводная навигация и погружения',
        cl: 'products-carousel__item'
      },
      {
        img: {n: '7', w: '106', h: '193'},
        title: 'FRTI пособие',
        text: 'Экстренная медицинская помощь для взрослых и детей',
        cl: 'products-carousel__item'
      },
      {
        img: {n: '8', w: '112', h: '201'},
        title: 'Стивен Барски Dry Suit',
        text: 'Дайвинг в сухом костюме. История, обзор теории, уход.',
        cl: 'products-carousel__item'
      }
    ];

    const viewed = [
      {
        img: {n: '5', w: '140', h: '186'},
        title: 'SDI OWD',
        text: 'Open Water Diver. Учебное пособие по дайвингу',
        cl: 'products-carousel__item'
      },
      {
        img: {n: '6', w: '171', h: '195'},
        title: 'SDI ночной дайвинг',
        text: 'Ночной дайвинг. Подводная навигация и погружения',
        cl: 'products-carousel__item'
      }
    ];

block main
  article.product-card
    .container
      +breadcrumbs(bc, 'product-card__breadcrumbs')
      .product-card__main
        .product-card__image
          .product-card__photo
            img(src="images/product-card/product-full.jpg", srcset="images/product-card/product-full@2x.jpg 2x"  width="495", height="545", alt="")
          .product-card__slider.product-thumbs.swiper-container
            .swiper-wrapper
              .product-thumds__item.swiper-slide
                img(src="images/product-card/product-thumb-1.jpg", srcset="images/product-card/product-thumb-1@2x.jpg 2x"  width="93", height="93", alt="")
              .product-thumds__item.swiper-slide
                img(src="images/product-card/product-thumb-2.jpg", srcset="images/product-card/product-thumb-2@2x.jpg 2x"  width="93", height="93", alt="")
              .product-thumds__item.swiper-slide
                img(src="images/product-card/product-thumb-3.jpg", srcset="images/product-card/product-thumb-3@2x.jpg 2x"  width="93", height="93", alt="")
              .product-thumds__item.swiper-slide
                img(src="images/product-card/product-thumb-4.jpg", srcset="images/product-card/product-thumb-4@2x.jpg 2x"  width="93", height="93", alt="")
        .product-card__info 
          +title(page.title, 'h1', 'title--large product-card__title')
          .product-card__article Артикул: 01234567890abc
          .product-card__parameters
            .product-card__parameter.parameter
              .parameter__title Вместимость воздуха (мл)
              .parameter__list 
                each item, index in ['1000', '1500', '2000', '2500']
                  a.parameter__item(class= (index === 2 ? '.parameter__item--checked' : ''), href="#")= item
            
            .product-card__parameter.parameter
              .parameter__title Цвет
              .parameter__list 
                each item, index in [{n: 'Yellow', c: '#dec200'}, {n: 'Black', c: '#000000'}, {n: 'Gray', c: '#706e79'}]
                  a.parameter__item(href="#", style="background-color: " + item.c + ";", title= item.n)
                    span.visually-hidden= item.n
          
          .product-card__price
            span.product-card__price-min 1500
            span.product-card__price-max - 2500
          .product-card__action 
            a(href="") 
            img(src="images/components/btn.png", alt="")
            a(href="") 

    .product-card__tabs.tabs
      .tabs__container.container
          button.tabs__item(type="button", data-target="#description") Описание товара
          button.tabs__item(type="button", data-target="#specifications") Характеристики
          button.tabs__item(type="button", data-target="#reviews") Отзывы

    .product-card__content 
      .container 
        .tab-content 
          p Новичкам и любителям дайвинга рекомендуется использовать этот продукт на глубине до 5 метров. Профессиональных дайверов рекомендуют в качестве запасных кислородных баллонов для глубины воды до 30 метров. Качественное литье из алюминиевого сплава, безопасное и долговечное.

          p 
            | Примечания:<br>
            | Из-за разницы в освещении и настройках экрана цвет изделия может немного отличаться от цвета на фотографиях. Возможны незначительные различия в размерах из-за различных измерений вручную.

          p
            | Пакет включает в себя:<br>
            | 1 х бензобак<br>
            | 1 х первичная головка клапана<br>
            | 1 х вторичная головка клапана<br>
            | 1 х аксессуар для ремонта

          p Откуда товар? Ответ: Все товары в магазине из-за границы Китая.

        .tab-content
          table 
            tbody
              each tr in table
                tr 
                  th= tr.th 
                  td= tr.td

        .tab-content
          each review in reviews 
            .review
              .review__author
                .review__author-image
                  if review.img
                    img(src="images/product-card/" + review.img + ".jpg", srcset="images/product-card/" + review.img + "@2x.jpg 2x", width="36", height="36", alt= review.name)
                .review__author-meta 
                  .review__author-name= review.name
                  time(datetime="2021-08-12") 12.08.21
              .review__content 
                .review__title= review.title
                .review__text= review.text
          sectiob.give-review
            +title('Оставить отзыв', 'h2', 'title--small give-review__title')
            form(action="#", method="post")
              label
                textarea(name="review")
              +button('Отправить')

    section.products-carousel
      .products-carousel__container.container
        +title('Похожие товары', 'h2', 'title--small products-carousel__title')
        .swiper-container
          .swiper-wrapper 
            each item in similar
              +product-preview(item)
          .swiper-pagination
          .swiper-navigation
            +button('', 'button--outline button--icon button--disabled', 'chevron-right')
            +button('', 'button--outline button--icon button--disabled', 'chevron-right')

    section.products-carousel
      .products-carousel__container.container
        +title('Вы недавно смотрели', 'h2', 'title--small products-carousel__title')
        .swiper-container
          .swiper-wrapper 
            each item in viewed
              +product-preview(item)
          .swiper-pagination
          .swiper-navigation
            +button('', 'button--outline button--icon button--disabled', 'chevron-right')
            +button('', 'button--outline button--icon button--disabled', 'chevron-right')
